
footer {
	background: $bg-footer;
	padding: em(70px) 0 em(50px) 0;
	color: #fff;
	h6 {
		font-weight: $font-weight--light;
		text-transform: uppercase;
		font-size: 14px;
		padding-bottom: em(12px);
		letter-spacing: 0.1em;
  }
	a {
		font-size: 14px;
		font-weight: $font-weight--light;
		color: #716980;
		padding: em(4px) 0;
		display: block;
		letter-spacing: 0.1em;
		&:hover {
			color: lighten(#716980, 20%);
    }
  }
	ul {
    margin-bottom: 1.4rem;
  }
}

.social-icon {
	@extend %center-aligin;
	@extend %centered;
	ul li {
		display: inline-block;
		padding: 0 em(16px);
		a {
			font-size: 18px;
			&:hover {
				color: lighten(#716980, 20%);
      }
    }
  }
}
