
// variables bootstrap
@import "vendors/bootstrap/variables";


// Font Weights

$font-weight--thin			 : 100;
$font-weight--light			 : 300;
$font-weight--medium		 : 400;
$font-weight--bold			 : 700;
$font-weight--ultra-bold : 900;

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Descriptive Base Colors

$white    : #fff;

// background color

$bg-header			: #3C3945;
$bg-footer			: #3C3945;

// imgSlider
$imgSlider-viewer-h										: 500px;
$imgSlider-viewer-h-mobile						: 300px;
// ImgSliderLightBox
$ImgSliderLightBox-zIndex							: 2000;
$ImgSliderLightBox-viewer-h						: 90%;
$ImgSliderLightBox-viewer-w						: 90%;
$ImgSliderLightBox-indicator-bottom		: 30px;
$ImgSliderLightBox-indicator-dot-zise	: 8px;
$ImgSliderLightBox-indicator-dot-bg		: #EFEEF3;
$ImgSliderLightBox-close-size					: 40px;
$ImgSliderLightBox-close-top					: 10px;
$ImgSliderLightBox-close-right				: 15px;
$ImgSliderLightBox-NextPrev-ion				: 32px;
