parser: 'babel-eslint'

plugins:
  - react

globals:
  __DEV__: true
  window: true

ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true

env:
  es6: true
  node: true
  browser: true

extends:
  - airbnb

rules:
  no-underscore-dangle: 0
  global-require: 0



  # ...
  no-else-return: 0
  no-param-reassign: 0
