
.checkout {
  background: $checkout-bg;

  &__title {
    font-size: 22px;
    font-weight: 300;
  }

  &__section {
    width: 600px;
    position: relative;
    padding: 0 50px 50px;
    margin-bottom: -25px;
  }

  &__line {
    position: absolute;
    top: 0;
    left: 16px;
    width: 32px;
    height: 100%;
    border-left: solid 1px $border-color;
    transition: all .5s ease-in;

    &--done {
      border-left: solid 1px $brand-info;
    }
  }

  &__number {
    border: 1px solid $border-color;
    background: $checkout-bg;
    color: $checkout-number-color;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: em(4px);
    transition: all .5s ease-in;

    &--focus {
      border: 1px solid $brand-info;
      color: $brand-info;
    }

    &--checked {
      background: url("#{$path--rel}/signup-lite-check-blue.png") center center no-repeat $checkout-bg;
    }

    &--unchecked {
      background: url("#{$path--rel}/signup-lite-check-gray.png") center center no-repeat $checkout-bg;
    }
  }
}
