// styles plugin elasticstack

.elasticstack {
  position: relative;
  margin: 40px auto;
  padding: 0;
  width: 340px;
  height: 380px;
  list-style: none;
  perspective: 1000px;
  perspective-origin: 50% 150%;

  li {
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 380px;
    border-width: 60px 20px;
    border-style: solid;
    border-color: $elasticstack-border-color;
    box-shadow: 0 10px 7px -7px $elasticstack-shadow-frist, 0 0 4px $elasticstack-shadow-second;
    opacity: 0;
    cursor: pointer;
    transform: translate3d(0, 0, -180px);
    transform-style: preserve-3d;

    &.animate {
      transition: all 0.3s ease-out;
    }

    &.move-back {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
    }

    img {
      display: block;
    }

    h5 {
      margin: 0 5px;
      color: $elasticstack-title-color;
      height: 60px;
      text-align: right;
      font-size: 1.4em;
      font-family: "Sacramento", cursive;
      line-height: 60px;
    }
  }
}

.no-js .elasticstack {
  max-width: 1090px;
  width: 100%;
  height: auto;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin: 10px;
    cursor: default;
    transform: translate3d(0, 0, 0);
  }
}
