
// variables bootstrap
@import "vendors/bootstrap/variables";


// Font Weights

$font-weight--thin        : 100;
$font-weight--light       : 300;
$font-weight--normal		  : 400;
$font-weight--medium		  : 500;
$font-weight--bold			  : 700;

// Path to Assets
$path--rel                : "./images";

// Text

$base__font-size : $font-size-root;

// Descriptive Base Colors

$color-light    : #fff;
$base-bg        : #fff;
$border-color   : #f1f1f1;

// header class

$header-bg			: #3C3945;

// imgSlider

$imgSlider-viewer-h										: 500px;
$imgSlider-viewer-h-mobile						: 300px;

// ImgSliderLightBox

$ImgSliderLightBox-zIndex							: 2000;
$ImgSliderLightBox-viewer-h						: 90%;
$ImgSliderLightBox-viewer-w						: 90%;
$ImgSliderLightBox-indicator-bottom		: 30px;
$ImgSliderLightBox-indicator-dot-zise	: 8px;
$ImgSliderLightBox-indicator-dot-bg		: #EFEEF3;
$ImgSliderLightBox-close-size					: 40px;
$ImgSliderLightBox-close-top					: 10px;
$ImgSliderLightBox-close-right				: 15px;
$ImgSliderLightBox-NextPrev-ion				: 32px;

// checkout

$checkout-bg                          : #fff;
$checkout-number-color                : #f1f1f1;

// container

$container-bg                         : #fff;
$container-border-radius              : 4px;

// progress-bar
$progress-bar-bg                      : #48e79a;
