// Base Style

* {
  outline-style: none !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include img-url("backslash.jpeg");
  background-size: 100%;
  font-weight: $font-weight--normal;
}

// lists
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
